* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#container{
    width: 80%;
    margin: auto;
}

#sur-div, #avant, #echelle, #oblique{
    width: 300px;
    height: 300px;
}

#sur-div{
    background: darkcyan;
    border: 1px solid orange;
    transform: rotate(-35deg);
    transform-origin: center center;
}

p{
    width: 300px;
    transform: rotate(90deg);
}

#depart, #translation{
    width: 200px;
    height: 200px;
}

#depart{
    background: lightgrey;
}

#translation{
    border: dashed 2px black;
    transform: translate(-35%);
    transform-origin: center center;
}

#avant{
    border: 1px solid lightseagreen;
    background: lightblue;
    position: absolute;
    z-index: 1;
}

#echelle{
    background: #add8e699;
    border: 1px solid lightseagreen;
    transform: scale(1.5);
}

#oblique {
    background: navajowhite;
    border: dotted 2px saddlebrown;
    transform: skewX(-30deg) skewY(30deg);
}

@media screen and (max-width: 400px){
    #sur-div, #avant, #echelle, #oblique{
        width: 150px;
        height: 150px;
    }

    p {
        width: 150px;
    }

    #depart, #translation{
        width: 100px;
        height: 100px;
    }
}